*,*::after,*::before{
    box-sizing: border-box;
}

$green-code-color: hsl(120, 70%, 40%);


html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-screen-container{
    img{
        margin: 0;
        padding: 0;
        border: none;
        position: absolute;
        max-height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    height: 100vh;
}

.welcome-animation{
    @include hackerText;
    color: $green-code-color;
    font-size: 40px;
    height: 200px;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 200px;
    width: 200px;
    background-color: transparent;
}